/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --spacer: 1rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.header__container {
  padding: 10px;
  margin: 20px 15px 10px;
  max-width: 50%;

  text-align: center;
  color: #666;
}

.main {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 100%;
  padding: 20px;
}

.toggler {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: fit-content;

  padding: 0 10px 35px;
  font-size: 14px;
}

.toggler .btn {
  margin: 0 0 0 30px;
  font-size: 24px;
  cursor: pointer;
  color: #666;
}

.toggler label {
  text-align: left;
}

#theme {
  display: none;
}

[for="theme"] {
  position: relative;
  display: block;
  padding: 15px;
  width: 110px;

  border-radius: 16px;
  line-height: 3px;
  cursor: pointer;
  color: #31b3ff;

  text-shadow: 1px 1px 0 rgba(255,255,255,.15);
  background: rgb(71, 71, 71);
  box-shadow:
    0 1px 3px rgba(100,100,100,.2),
    inset 0 0 0 5px rgb(60,60,60),
    inset 0 6px 6px rgba(0,0,0,.5),
    inset 0 -6px 1px rgba(255,255,255,.2);

  user-select: none;
}

[for="theme"]:before {
  position: absolute;
  right: 15px;

  color: #31b3ff;
}

[for="theme"]:after {
  position: absolute;
  left: 6px;
  top: 5px;

  display: flex;
  justify-content: center;
  height: 22px;
  width: 50px;

  border-radius: 10px;
  background: #ccc linear-gradient(#fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  color: rgb(71, 71, 71);

  line-height: 23px;
  font-weight: 700;
  font-size: 14px;

  transition: .5s;
}

[for="theme"].reverse-toggler:after {
  left: 54px;
}

#theme:checked ~ [for="theme"]:after {
  left: 54px
}

#theme:checked ~ [for="theme"].reverse-toggler:after {
  left: 6px;
}

[for="theme"]:before {
  content: 'LNK';
}

[for="theme"]:after {
  content: 'LIST';
}

.grid {
  --gap: 1em;
  --columns: 4;
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
  columns: var(--columns);
  gap: var(--gap);

  text-align: center;
}

.grid > * {
  break-inside: avoid;
  margin-bottom: var(--gap);
}

/* noinspection CssInvalidPropertyValue */
@supports (grid-template-rows: masonry) {
  .grid {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: masonry;
    grid-auto-flow: dense;
  }

  .grid > * {
    margin-bottom: 0;
  }
}

.flow {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3px);
}

.flow-01 {
  background-image: url(/images/thumb-01.jpg);
}
.flow-02 {
  background-image: url(/images/thumb-02.jpg);
}
.flow-03 {
  background-image: url(/images/thumb-03.jpg);
}
.flow-04 {
  background-image: url(/images/thumb-04.jpg);
}
.flow-05 {
  background-image: url(/images/thumb-05.jpg);
}
.flow-06 {
  background-image: url(/images/thumb-06.jpg);
}
.flow-07 {
  background-image: url(/images/thumb-07.jpg);
}
.flow-08 {
  background-image: url(/images/thumb-08.jpg);
}
.flow-09 {
  background-image: url(/images/thumb-09.jpg);
}
.flow-10 {
  background-image: url(/images/thumb-10.jpg);
}
.flow-11 {
  background-image: url(/images/thumb-11.jpg);
}
.flow-12 {
  background-image: url(/images/thumb-12.jpg);
}
.flow-13 {
  background-image: url(/images/thumb-13.jpg);
}
.flow-14 {
  background-image: url(/images/thumb-14.jpg);
}
.flow-15 {
  background-image: url(/images/thumb-15.jpg);
}
.flow-16 {
  background-image: url(/images/thumb-16.jpg);
}
.flow-17 {
  background-image: url(/images/thumb-17.jpg);
}
.flow-18 {
  background-image: url(/images/thumb-18.jpg);
}
.flow-19 {
  background-image: url(/images/thumb-19.jpg);
}
.flow-20 {
  background-image: url(/images/thumb-20.jpg);
}
.flow-21 {
  background-image: url(/images/thumb-21.jpg);
}
.flow-22 {
  background-image: url(/images/thumb-22.jpg);
}
.flow-23 {
  background-image: url(/images/thumb-23.jpg);
}
.flow-24 {
  background-image: url(/images/thumb-24.jpg);
}
.flow-25 {
  background-image: url(/images/thumb-25.jpg);
}
.flow-26 {
  background-image: url(/images/thumb-26.jpg);
}
.flow-27 {
  background-image: url(/images/thumb-27.jpg);
}
.flow-28 {
  background-image: url(/images/thumb-28.jpg);
}

.flow::before {
  content: '';
  position: absolute;
  inset: 0;
  opacity: .3;
  animation: pulse 2.5s infinite;
}

.flow img {
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.flow.loaded {
  background-image: none;
  filter: none;
}

.flow.loaded::before {
  animation: none;
  content: none;
}

.flow.loaded img {
  opacity: 1;
}

@keyframes pulse {
  0% {
    background-color: white;
  }
  50% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}

.flow > * + * {
  margin-top: var(--spacer);
}

img {
  object-fit: cover;
  max-width: 100%;
  cursor: pointer;
}

.content {
  padding: .7em;
  box-shadow: 0 0 3em rgba(0,0,0,.15);
  background-color: white;
  overflow: hidden;
}

.gallery .content img {
  vertical-align: middle;
  transition: transform .3s ease;
}

.gallery .content:hover img {
  transform: scale(1.12);
}

.preview-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(.96);
  min-height: fit-content;
  min-width: fit-content;
  opacity: 0;
  background: #fff;
  pointer-events: none;
  border-radius: .625rem;
  padding: 0 6px 6px 6px;
  box-shadow: 0 0 15px rgba(0,0,0,.2);
  user-select: none;
  z-index: 100;
}

.preview-box.fullscreen {
  border-radius: 0;
}

.preview-box:hover .slide {
  opacity: 1;
}

.preview-box.show {
  pointer-events: auto;
  transition: opacity .3s ease;
  opacity: 1;
}

.preview-box .details {
  display: flex;
  align-items: center;
  padding: 12px 15px 12px 10px;
  justify-content: space-between;
}

.preview-box .details .title {
  display: flex;
  font-size: 18px;
  font-weight: 400;
}

.details .title p {
  margin: 0 5px;
}

.details .title p.current-img {
  font-weight: 500;
}

.details .actions {
  display: flex;
}

.actions .icon {
  padding: 3px 10px;
  cursor: pointer;
  height: 26px;

  transition: transform .3s ease;
}

.details .icon:hover {
  transform: scale(1.2);
}

.preview-box .image-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  max-height: 960px;
  overflow: hidden;

  border-bottom-right-radius: .625rem;
  border-bottom-left-radius: .625rem;
}

.preview-box .image-box.fullscreen {
  max-width: unset;
  min-width: 1200px;
  min-height: calc(100vh - 55px);
}

.image-box .pan-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.image-box .slide {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 10px;
  height: 60px;
  width: 60px;

  border-radius: 50%;
  background-color: rgba(0,0,0,.5);
  transition: all .3s ease;
  font-size: 30px;
  cursor: pointer;

  color: #fff;
  opacity: 0;
}

.image-box .slide.hide {
  display: none;
}

.image-box .slide:hover {
  transform: scale(1.2);
}

.slide svg {
  fill: #fff;
}

.slide.prev {
  left: 0;
}

.slide.next {
  right: 0;
}

.image-box img {
  flex-shrink: 0;
  max-width: 100%;
  max-height: 100%;
}

.shadow {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  background: rgba(0,0,0,.7);
}

.dark-theme body {
  background-color: #292421;
}

.dark-theme .content {
  background-color: #191916;
}

.dark-theme .preview-box {
  background-color: #191916;
}

.dark-theme .title {
  color: #FED602;
}

.dark-theme svg.icon {
  fill: #FED602;
}

.dark-theme .image-box {
  background-color: #292421;
}

.dark-theme .slide svg {
  fill: #FED602;
}

@media(max-width: 600px) {
  .grid {
    --gap: .7em;
    gap: var(--gap);
  }
  .content.flow {
    padding: .5em;
  }
}

@media(max-width: 500px) {
  .grid {
    --gap: .5em;
    gap: var(--gap);
  }
  .content.flow {
    padding: .4em;
  }
}

@media(max-width: 400px) {
  .grid {
    --gap: .3em;
    gap: var(--gap);
  }
  .content.flow {
    padding: .3em;
  }
}
